@import url("https://fonts.googleapis.com/css2?family=Georama:wght@200;300;400&display=swap");

:root {
  --prim-color: #454648;
  --secnd-color: #dbdcde;
}

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  min-width: 320px;
  font-size: 1.3em;
  font-family: "Georama", sans-serif;
  background: url("../img/bg.jpg") no-repeat center center / cover;
}
li {
  list-style-type: none;
}
a {
  color: #fff;
  text-decoration: none;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #20232a;
}
.fa-headphones-alt {
  color: rgb(214, 215, 217);
}
.fa-react {
  font-size: 1.3rem;
}
.fa-react.play {
  animation: spin 5s linear infinite;
}

/* Main bg */
.main-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.music-container {
  min-width: 360px;
  position: relative;
  padding: 2rem 2rem 2.6rem 2rem;
  backdrop-filter: blur(5px);
  border-radius: 2rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.15);
}
.music-fake {
  display: none;
}
.music-info h3 {
  font-weight: 400;
}
.music-info h5 {
  font-weight: 300;
  margin-bottom: 2rem;
}
.cover,
.music-fake .cover {
  width: 270px;
  height: 270px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 5px 10px rgb(88, 82, 84);
}
.cover::before,
.music-fake .cover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background-color: #d6d7d9;
  border-radius: 50%;
  z-index: 1;
  border: 3px solid #454648;
}
.cover img,
.music-fake .cover img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
}
.music-info.play .cover {
  animation: spin 5s linear infinite;
}
.btn-controls {
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-controls button {
  padding: 1rem;
  border: none;
  cursor: pointer;
  background: none;
}
.btn-controls button:focus {
  outline: 0;
}
.btn-controls button i {
  color: #20232a;
}
.btn-controls button {
  outline: 0;
}
.progress-bar.play {
  width: 200px;
  height: 6px;
  margin: auto;
  margin-top: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--secnd-color);
}
.bar-in-progress.play {
  height: 6px;
  border-radius: 3px;
}
.title {
  transition: ease-in-out 0.5s;
}

.repeat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.repeat button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 10px 15px 20px 15px;
}
.repeat .fa-redo,
.repeat .fa-random,
.fa-volume-up,
.fa-volume-off {
  font-size: 1.5rem;
}
.repeat .fa-redo.repeat,
.repeat .fa-random.shuffle {
  color: #61dafb;
}
.fa-backward,
.fa-forward,
.fa-play,
.fa-pause {
  font-size: 1.5rem;
  padding: 1rem;
}

/* Footer */
footer {
  color: rgb(214, 215, 217);
  background-color: #20232a;
  font-size: 1.1rem;
}
footer div p {
  padding: 0.3rem 0;
  text-align: center;
}

/* Login */
form {
  width: 420px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  padding: 1.5rem;
}
form input {
  width: 100%;
  padding: 1rem;
  border: none;
}
form input[type="submit"] {
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-color: #7873f5;
}

/* Admin */
.admin {
  display: flex;
  text-align: center;
}
.dashboard h1 {
  padding: 1rem;
  font-size: 1.8rem;
}
.admin-dashboard {
  flex: 3;
  padding: 0.5rem;
  background: url("../img/bg.jpg") no-repeat right center / cover;
}
.admin-player {
  flex: 1;
  padding: 0.5rem;
  color: #20232a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.form-generic {
  width: 100%;
  border-radius: 2rem;
  border: 1px solid #c7c8c9;
}
.form-generic input[type="file"] {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.form-generic label {
  font-size: 0.8rem;
  padding: 1rem;
  display: block;
  position: relative;
  width: 100%;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
.form-generic input[type="submit"] {
  color: #d6d7d9;
  background-color: #7873f5;
}

/* Song list */
.song-list {
  height: 100vh;
  overflow-y: auto;
}

table {
  width: 100%;
}
thead {
  position: sticky;
  top: 0;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
}
thead td {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8rem;
  border: none;
}
tbody td {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid #c7c8c9;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 500px) {
  footer div {
    max-width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 1015px) {
  /****** Fake cover *****/
  .music-fake {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .music-fake .cover {
    width: 200px;
    height: 200px;
  }
  .music-fake .cover img {
    width: 200px;
    height: 200px;
  }
  .music-fake .cover::before {
    width: 15px;
    height: 15px;
  }
}
